body {
    margin: 0;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color:black;
    color: #ffffff;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    /* margin-bottom: 10px; */
}

a{
    /* text-decoration: none; */
    color: #ffffff;
}

a:hover{
    /* text-decoration: underline; */
    color:yellow;
}

header{
    height: 90px;
    background-color: #232527;
    color: #ffffff;
}

header div{
    display: inline-block;
}

#user{
    float: right;
}

nav{
    color: #ffffff;
    font-size: 20px;
}

#container{
    margin: 0px auto;
    /* width: 100%; */
}

#left, #right{
    display: inline-block;
    height: 100%;
}

#left{
    /* width: 20%; */
    background-color: #333538;
}

#right{
    /* width: 80%; */
    background-color: #7c7f83;
    float: right;
}

#login, #registration {
    background-color: #7c7f83;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 12px;
}

#login h1, a, label, input {
    display: block;
    margin: auto;
}

#select {
    display: flex;
    margin: auto;
    width: 250px;
}

#login h1, a, label, input {
    width: 250px;
}

.item{
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* width: 300px; */
}

.item img{
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#login-registration_section{
    margin: auto;
}

#movie #movie_section_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#movie #movie_section_content_left img{
    width: 300px;
    padding: 40px;
}

#movie #movie_section_content_right h2{
    font-size: 32px;
}

#movie #left {
    width: 20%;
}

#movie #right {
    width: 80%;
}

#rating {
    width: 180px;
    height: 5px;
    background-color: black;
}

#progressBar {
    width: 50%;
    height: 5px;
    background-color: yellow;
}


.error{
    color:red;
    /* font-size: 10px; */
    margin: auto;
    width: 250px;
}